/*----Universal Styles----*/

* {
    box-sizing: border-box;
}

/*----Headings----*/

h1 {
    display: inline-block;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Homemade Apple', cursive;
    color: #324355; 
    text-shadow: 0 0 2px lightblue;
    text-align: center;
    font-size: 18px;
}

.homepageh1 {
  font-family: 'Homemade Apple', cursive;
  color: white;
  text-shadow: 2px 2px 8px #3a3b3a; 
}

.break {
  display: none;
}

.kidsh1 {
    color: white;
    margin: auto;
    width: 300px;
    height: 100px;
    border-radius: 15px;
    background: red;
    cursor: pointer;
    transition: 1s;
}

.kidsh1:hover {
  background: blue;
  border-radius: 50%;
  transform: rotate(360deg);
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  color: #324355; 
  text-align: left;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  color: #324355; 
  text-align: center;
  font-size: 18px;
  padding: 1em;
}

p {
    padding-top: 10px; 
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.homepage {
  background-image: url('../images/family.jpg');
  background-attachment: local;
  background-size: 100%;
  background-origin: border-box;
  background-repeat: no-repeat; 
  bottom: 0;
}

/*----Navigation----*/

ul, .menu {
  margin: 0;
  list-style-type: none;
  height: 100%;
  padding-right: 1em;
  position: fixed;
}

nav {
  padding-left: .75em;
}

li {
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 15px 15px 15px 2px;
  color: white; 
  border-bottom: 1px solid white; 
  font-size: 18px;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;
}
  
a:visited {
    color: #93c2f5;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #fce549;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: #AC2241;
    background-color: transparent;
    text-decoration: underline;
  }

/*----Images----*/

.logo {
  display: inline;
}

.logo2 {
  display: none;
}

.image {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 0 #8c8c8c;
  border-radius: 10px;
  display: block;
}

/*----Text----*/

.home-text {
  color: black;
  background-color:#d1d1d1;
  background: rgba(255,255,255,.75);
  padding: 1em;
  border-radius: 10px;
  height: 100%;
}

.slide-left {
  animation: 500ms slide-left;
}

@keyframes slide-left {
  from {
    margin-right: -100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
  font-weight: bold;
  color: #324355; 
  background-image: linear-gradient(#fffcfc, #d6d6d6);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

address {
  font-style: normal;
}

.menu {
  display: inline-block;
  background-color: #324355;
  color: white;
}

.container {
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
}

.box1, .box2 {
  border: 1px solid #8c8c8c;
  box-shadow: 0 0 8px 0 #8c8c8c;
  margin-top: 2em;
  padding: 2em;
  background-image: linear-gradient(white, #93c2f5);
  border-radius: 10px;
}
/*----Table----*/

table {
  display: table;
  border-spacing: 0.5rem;
  box-shadow: 0 0 8px 0 #8c8c8c;
  font-family: 'Noto Sans', sans-serif;
}

table, th, td {
  border: 1px solid #8c8c8c;
  border-collapse: collapse;
  font-size: 15px;
}

th, td {
  padding: 10px;
}

td[colspan="2"] {
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: #324355;
}

.tablecol {
  background: #93c2f5;
  text-align: center;
  font-size: 1.15em;
  font-weight: bold;
  color: #324355;
}

tr:nth-child(2n+1) {
  background: #e3e3e3;
}

/*----Kid's Corner----*/

#box1, #box2 {
  border: 1px solid #8c8c8c;
  box-shadow: 0 0 8px 0 #8c8c8c;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(white, #93c2f5);
  border-radius: 10px;
}

.color-change:hover {
  color: red;
  filter: saturate(4);
}

/*----Form----*/

form {
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 3em;
  }

fieldset {
    border: none;
    margin: 0;
  }

legend {
    border-bottom: 1px solid #fff;
    font-size: 1.3em;
    font-weight: bold;
    color: #324355;
    margin-bottom: 2em;
  }
  
label {
    padding-top: .5em;
    margin-right: 8px;
  }
  
input {
    padding: 10px;
  }
  
input,
textarea,
select {
    font: 1em;
    width: 100%;
    height: 5em;
    background-color: #dbdbdb;
    border-radius: .3em;
    border: 1px #324355 solid;
    padding-right: 25px;
  }
  
input:focus,
textarea:focus,
select:focus {
      border: 2px solid #93c2f5;
      transition-duration: 2s
  }
  
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: 20px;
    margin: 0;
    vertical-align: middle;
    position: relative;
  }
  
button {
    padding: 15px 30px 15px 30px;
    color: #fff;
    background-color: #AC2241;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
button:hover {
    background: #93c2f5;
  }

.cform {
  padding-left: .75em;
}
  
.contact {
    color: #324355;
  }
  
.contact input {
    height: 50px;
    margin-bottom: 15px;
  }
  
.checkboxes p {
    color: black;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

#name::placeholder,
#email::placeholder,
#phone::placeholder {
    text-align: right;
    font-style: italic;
    color: black;
    padding-right: 5px;
  }
  
#zip {
    width: auto;
  }
  
#state {
    width: auto;
    height: 50px;
    color: gray;
    padding-left: 25px;
  }  

/*----Footer----*/

footer {
    font-family: 'Noto Sans', sans-serif; 
    text-align: right;
    font-size: 13px; 
    margin-top: 0; 
    margin-bottom: 0; 
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3.4em;
    position: relative;
    max-width: 100%;
    background-size: 100%;
    background: transparent;
    color: #363535;
    clear: both; 
}

/*---------------------------------------
***  Media Query Styles  ***
----------------------------------------*/
@media (min-width: 320px) {

.homepage {
  background-color: #dcd2c6;
}

.homepageh1 {
  font-size: 6vw;
  display: inline-block;
  padding-left: 1em;
}

.kidsh1 {
  font-size: 6vw;
  height: 65px;
  width: 170px;
  padding: 1em;
  margin-left: 1em;
}

h1 {
  font-size: 15px;
  padding-top: .25em;
  padding-bottom: 0;
  padding-left: 2em;
}

.h1 {
  font-size: 7vw;
}

.h2 {
  font-size: 5.5vw;
}

.break {
  display: initial;
}

li {
  padding: 12px 0 12px 0;
  font-size: 10px;
}

#mobile-nav {
  width: 20%;
  position: fixed;
}

nav {
  margin-top: 0;
  padding-left: 5px;
}

.logo {
  display: none;
}

.logo2 {
  display: inline-block;
  height: 70px;
  width: 70px;
}

.container {
  margin-top: 0;
  display: block;
  padding-left: 5em;
  padding-right: 1em;
  height: auto;
  width: 100%;
}

p, form, table {
  font-size: 14px;
}

form, table {
  padding-right: 5em;
  overflow-x: auto;
}

.image {
  height: 150px;
  width: 200px;
}

footer {
  font-size: 8px;
}

@media (min-width: 480px) {

  .container {
    padding-left: 12em;
  }

  li {
    font-size: 14px;
  }

  .image {
    height: 150px;
    width: 250px;
  }

  .kidsh1 {
    height: 120px;
    width: 240px;
  }

}

@media (min-width: 768px) {
  
    .logo {
      display: inline-block; 
      height: 175px;
      width: 175px;
      margin-left: -.7em;
    }
    
    .logo2 {
      display: none;
    }

    .menu {
      height: 100%;
      width: 40%;
    }
    
    .homepageh1 {
      font-size: 30px;
    }

    .home-text {
      margin-top: 25.75em;
      height: 40%;
    }

    .container {
      padding-left: 11em;
    }
   
    .h1 {
      font-size: 2.5em;
      margin-left: 2em;
    }

    .h2 {
      font-size: 1.75em;
    }
  
    .kidsh1 {
      font-size: 30px;
      height: 100px;
      width: 300px;
      padding: 1em;
      margin-left: 2.5em;
    }

    p, form, table {
      font-size: 16px;
    }

    .image {
      height: 300px;
      width: 500px;
      float: left;
    }

  address {
    font-style: normal;
  }

  .break {
    display: none;
  }

}
  
  @media (min-width: 1024px) {
  
  .text {
    margin: 0;
  }

  .logo {
    display: inline-block;
    height: 225px;
    width: 225px;
  }

  h1 {
    padding-top: .5em;
    padding-left: 5em;
  }

  .homepageh1 {
    padding-top: .5em;
    padding-left: 3em;
  }

  li {
    font-size: 16px;
    padding: 1em;
  }

  .break {
    display: none;
  }

  .container {
    padding-left: 17em;
  }
  
  .h1, .image {
    margin-left: 5em;
  }

  .homepageh1 {
    margin-left: 4em;
  }

  .kidsh1 {
    margin-left: 7em;
  }

  .h2 {
    font-size: 1.5em;
  }

  .resources_page {
    margin-bottom: 2em;
  }
  
  .contactus {
    margin: 0;
    padding: 0 8em 8em 25em;
  }
  
  #state, #zip {
    width: 25%;
  }
  
  footer {
    font-size: 10px;
  }

  }

  @media (min-width: 1366px) {

    .container {
      padding-left: 19em;
    }

    .home-text {
      height: 100%;
      width: 60%;
    }

    .logo {
      height: 300px;
      width: 300px;
    }

    .image {
      height: 325px;
      width: 500px;
      margin-left: 15em;
    }
  }
}