/*----Universal Styles----*/

* {
    box-sizing: border-box;
}

/*----Headings----*/

header {
    line-height: normal;
    background-color: #324355;
    color: white;
    font-family: 'Homemade Apple', cursive;
    list-style-type: none;
    padding-left: .35em;
    height: 100%;
    font-size: 9px;
    text-align: center;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #324355; 
    text-shadow: 0 0 2px lightblue;
    text-align: center;
    font-size: 18px;
}

p {
    padding-top: 10px; 
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.container1 {
    margin-top: 0, auto;
    padding-top: 0, auto;
    height: auto;
    background-color: #faf9f7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

/*----Navigation----*/

ul, .left {
  list-style-type: none;
  height: 100%;
  width: 18%;
  background-color: #324355;
  position: fixed;
  padding-left: .75em;
}

.left {
  box-shadow: 0 0 8px 0 #8c8c8c;
}

ul {
  margin: 0, auto;
}

li {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 15px 15px 15px 2px;
  color: white; 
  border-bottom: 1px solid white; 
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.resources {
  color: #324355;
  text-decoration: none;
}
  
a:visited {
    color: #93c2f5;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #fce549;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: #AC2241;
    background-color: transparent;
    text-decoration: underline;
  }

/*----Images----*/

.image1 {
  display: inline-block;
  box-shadow: 0 0 8px 0 #8c8c8c;
  max-width: 260px;
  max-height: 360px;
  margin-left: 4.25em;
  margin-top: 0, auto;
  padding-top: 0, auto;
  border-radius: 10px;
}

.image2 {
  box-shadow: 0 0 8px 0 #8c8c8c;
  max-width: 200;
  max-height: 325;
  margin-left: -7em;
}

/*----Text----*/

address {
  font-style: normal;
}

.left {
  width: 6.75em;
  display: inline-block;
  background-color: #324355;
  color: white;
}

.right, .text, .container4 {
  margin: 0, auto;
  display: inline-block;    
  text-align: left;
  padding-bottom: 1em;
  padding-left: 8em;
  padding-right: 2em;
}

.container4 {
  font-family: 'Noto Sans', sans-serif;
}

.box1, .box2 {
  border: 1px solid #8c8c8c;
  box-shadow: 0 0 8px 0 #8c8c8c;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  background-image: linear-gradient(white, #93c2f5);
}

/*----Table----*/

table {
  display: table;
  border-spacing: 0.5rem;
  box-shadow: 0 0 8px 0 #8c8c8c;
}

table, th, td {
  border: 1px solid #8c8c8c;
  border-collapse: collapse;
  font-size: 15px;
}

th, td {
  padding: 10px;
}

td[colspan="2"] {
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: #324355;
}

.container3 {
  margin: 0 5em 2em 7em;
  font-family: 'Noto Sans', sans-serif;
}

.column1, .column2 {
  text-align: center;
  color: white;
  background-color: #D59362;
}

/*----Form----*/

form {
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 3em;
  }

fieldset {
    border: none;
    margin: 0;
  }

legend {
    border-bottom: 1px solid #fff;
    font-size: 1.3em;
    font-weight: bold;
    color: #324355;
    margin-bottom: 2em;
  }
  
label {
    padding-top: .5em;
    margin-right: 8px;
  }
  
input {
    padding: 10px;
  }
  
input,
textarea,
select {
    font: 1em;
    width: 100%;
    height: 5em;
    background-color: #dbdbdb;
    border-radius: .3em;
    border: 1px #324355 solid;
    padding-right: 25px;
  }
  
input:focus,
textarea:focus,
select:focus {
      border: 2px solid #93c2f5;
      transition-duration: 2s
  }
  
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: 20px;
    margin: 0;
    vertical-align: middle;
    position: relative;
  }
  
button {
    padding: 15px 30px 15px 30px;
    color: #fff;
    background-color: #AC2241;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
button:hover {
    background: #93c2f5;
  }
  
.contactus {
    margin: 0, auto;
    padding: 0 1em 1em 7em;
    font-size: 16px;
  }

.cform {
  padding-left: .75em;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    color: black;
  }
  
.contact {
    color: #324355;
  }
  
.contact input {
    height: 50px;
    margin-bottom: 15px;
  }
  
.checkboxes p {
    color: black;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

#name::placeholder,
#email::placeholder,
#phone::placeholder {
    text-align: right;
    font-style: italic;
    color: black;
    padding-right: 5px;
  }
  
#zip {
    width: 50%;
  }
  
#state {
    width: auto;
    height: 50px;
    color: gray;
    padding-left: 25px;
  }  

/*----Footer----*/

footer {
    font-family: 'Noto Sans', sans-serif; 
    text-align: right;
    font-size: 13px; 
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 3em 1em 3em 3em;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    max-width: 100%;
    background-image: linear-gradient(#D59362, #f7c9a6);
    background-size: 100%;
    clear: both; 
    z-index: -1; 
}

/*---------------------------------------
***  Media Query Styles  ***
----------------------------------------*/
@media (min-width: 768px) {
  
/*----Form----*/

.contactus {
  margin-left: 2.5em;
}

/*----Navigation----*/

  ul, .left {
    list-style-type: none;
    height: 100%;
    width: 18%;
    background-color: #324355;
    position: fixed;
    padding-left: .02em;
  }
  
  .left {
    box-shadow: 0 0 8px 0 #8c8c8c;
  }
  
  ul {
    margin: 0, auto;
  }
  
  li {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    padding: 15px 15px 15px 2px;
    color: white; 
    border-bottom: 1px solid white; 
    font-size: 16px;
  }

  /*----Text----*/

address {
  font-style: normal;
}

.left {
  display: inline-block;
  background-color: #324355;
  color: white;
}

.right, .text, .container4 {
  margin: 0, auto;
  display: inline-block;    
  text-align: left;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 2em;
}

.container3 {
  margin: 0 5em 10em 7em;
  padding-left: 5em;
  padding-bottom: 6em;
  font-family: 'Noto Sans', sans-serif;
}

.container4 {
  padding-bottom: 30.25em;
  font-family: 'Noto Sans', sans-serif;
}

/*----Images----*/

.image1 {
  display: inline-block;
  box-shadow: 0 0 8px 0 #8c8c8c;
  max-width: 360px;
  max-height: 460px;
  margin-left: 14em;
  margin-top: 0, auto;
  padding-top: 0, auto;
  border-radius: 10px;
}

.image2 {
  box-shadow: 0 0 8px 0 #8c8c8c;
  max-width: 200;
  max-height: 325;
  margin-left: 7.5em;
  border-radius: 10px;
}

@media (min-width: 992px) {
 
/*----Headings----*/

header {
  font-size: 1.25em;
}

h2 {
  font-size: 25px;
}


/*----Images----*/

.image1 {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 #8c8c8c;
  min-height: 600px;
  min-width: 400px;
  display: inline-block;
  margin-left: 17em;
  margin-top: 1.5em;
}

.image2 {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 #8c8c8c;
  display: inline-block;
  margin-left: 32em;
  margin-bottom: -5em;
}

/*----Text----*/

.container2 {
  margin: 0 10em; 
  display: inline-block; 
  padding-left: 20em;
  padding-right: 5em;
  padding-bottom: 5em;
}

.text {
  margin: 0, auto;
}

.left {
  width: 20%;
  display: inline-block;
  background-color: #324355;
  color: white;
}

.text, .container4 {
  margin-left: 10em;
}

.right {
  display: inline-block; 
  margin-left: 30em;
  margin-top: -37em;
  margin-bottom: 3.5em;
  padding-left: 20em;
  padding-right: 5em;
  padding-bottom: 5em;
}

.resources_page {
  margin-bottom: 2em;
}

/*----Table----*/

.container3 {
  margin: 4em 10em 2em 10em;
  padding-left: 17em; 
}

/*----Form----*/

.contactus {
  margin: 0, auto;
  padding: 0 8em 8em 25em;
}

}